html {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
}

.logo {
    padding-top: 150px;
    display: flex; 
    justify-content: center;
}

.search {
    display: flex; 
    justify-content: center;
}

#icon {
    background: url("https://img.icons8.com/ios/50/000000/search--v1.png") no-repeat; 
    background-size: 2em;
    background-position: 20px;;
}

.search input {
     width: 487px;
     height: 37px;
     margin-top: 30px;
     border-radius: 25px;   
     text-indent: 50px;    
}

.search input:hover{
    background-color: #f2f2f2;  
}

.submit {
    display: flex; 
    justify-content: center;
}

.submit input {
    margin-top: 25px;
    border: none; 
    width: 120px;
    height: 34px; 
    cursor: pointer;
    background-color: #f2f2f2;
    color: #5F6368;
    border-radius: 4px; 
    text-align: center; 
    font-family: arial,sans-serif;
    font-size: 14px;
    
}

.submit input:hover{
    color:	#000000; 
    border: 1px solid #d3c9c9;  
}

.submit input.submit1 {
    margin-right: 5px;
}

.submit input.submit2 {
    margin-left: 5px;
}

 
